@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.btn-outline-warning {
  @apply text-yellow-500 border border-yellow-500 bg-transparent hover:bg-yellow-500 hover:text-black rounded-lg;
}

.btn-outline-danger {
  @apply text-red-500 border border-red-500 bg-transparent hover:bg-red-500 hover:text-white rounded-lg;
}

.btn-outline-success {
  @apply text-green-500 border border-green-500 bg-transparent hover:bg-green-500 hover:text-white rounded-lg;
}

.btn-outline-primary {
  @apply text-blue-500 border border-blue-500 bg-transparent hover:bg-blue-500 hover:text-white rounded-lg;
}

.btn-disabled {
  @apply cursor-not-allowed;
}
